.form-table th, .form-table td {
    padding: 25px;
    display: block;
    align-items: center;
    width: 90%;
    max-width: 900px;
    font-size: 18px;
    word-break: break-word;
}
.form-table td {
    padding-top: 0;
}
input[type=checkbox].st-checkbox {
    appearance: none;
    position: relative;
    border-radius: 50px;
    height: 30px;
    width: 60px;
    background-color: #fff;
    border: 2px solid #2d2d2d;
    outline: none;
    transition: background-color 0.3s;
}
input[type=checkbox].st-checkbox:checked {
    background-color: #fff;
    transition: background-color 0.3s;
    outline: none;
}
input[type=checkbox].st-checkbox::before {
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0;
    left: 5px;
    background-color: #2d2d2d;
    content: "";
    transition: left 0.5s;
    top: 50%;
    transform: translateY(-50%);
}
input[type=checkbox].st-checkbox:checked::before {
    background-color: #5f9ea0;
    margin: 0;
    left: auto;
    right: 5px;
    transition: left 0.5s;
}
input[type=checkbox].st-checkbox::after {
    content: 'No';
    position: absolute;
    left: calc( 100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #555;
    width: 200px;
    text-align: left;
}
input[type=checkbox].st-checkbox:checked::after {
    content: 'Yes';
}
input[type=number].st-number {
    width: 80px;
    border: 2px solid #2d2d2d;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}
input[type=text].st-text {
    width: 300px;
    border: 2px solid #2d2d2d;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}
label.st-text-label,
label.st-number-label {
    position: relative;
}
label.st-text-label::after,
label.st-number-label::after {
    content: '';
    position: absolute;
    left: calc( 100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    width: 500px;
    color: #555;
}
label.st-number-label.st_woo_ai_rel_products_ordered_ref_single_rel_products::after {
    content: 'Set the value to "1" to filter products based on the most recently ordered or purchased item, "2" for the two most recent items, and so on. \A Leave it empty to include all ordered or purchased items.';
    white-space: pre;
}
label.st-number-label.st_woo_ai_rel_products_number_single_rel_products::after {
    content: 'Products \A Note: For FSE themes, navigate to Appearance → Editor → Templates → Single Product. \A Then, select the "Related Products" block and adjust the "Items Per Page" value.';
    white-space: pre;
}
label.st-number-label.st_woo_ai_rel_products_column_single_rel_products::after {
    content: 'Columns \A Note: For FSE themes, navigate to Appearance → Editor → Templates → Single Product. \A Then, select the "Related Products" block and adjust the "Columns" value.';
    white-space: pre;
}
label.st_woo_ai_rel_products_label_single_rel_products::after {
    content: 'Note: For FSE themes, navigate to Appearance → Editor → Templates → Single Product. \A Then, select the "Related Products" block and adjust the Heading.';
    white-space: pre;
}
label.st_woo_ai_rel_products_ordered_ref_collab_filter_rel_products::after {
    content: 'Note: For optimal performance, set the related products limit to 20-30 items. \A Larger queries may strain server resources, slowing page load times, increasing bandwidth usage, and affecting performance. \A A smaller limit ensures better site optimization, improving speed and user experience.';
    white-space: pre;
}
label.st_woo_ai_rel_products_number_collab_filter_products::after {
    content: 'Note: The number of related products displayed is based on available co-purchased orders. \A The actual number may be fewer than the set value if there aren\'t enough co-purchased products.';
    white-space: pre;
}
label.st_woo_ai_rel_products_label_collab_filter_products::after {
    content: '"Active Product Name"'
}
form {
    position: relative;
}
form h2 {
    font-size: 24px;
    line-height: 1.3;
}
form p.submit input.button {
    font-size: 16px;
    padding: 5px 20px;
}
.form-table td p.st-description {
    font-size: 18px;
    max-width: 900px;
}
.form-table td p.st-description span {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    margin: 20px 0;
    display: inline-block;
}
.form-table tbody tr:first-child > th {
    display: none;
}
.form-table ol li {
    margin-bottom: 20px;
    line-height: 1.5;
}
.form-table a.button {
    display: inline-block;
}
